<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Other skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Languages</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Portuguese</ion-label>
          <ion-icon src="/assets/icon/pt.svg" slot="start"></ion-icon>
          <ion-note slot="end">Native
            <ion-progress-bar value="1"></ion-progress-bar>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Finnish</ion-label>
          <ion-icon src="/assets/icon/fi.svg" slot="start"></ion-icon>
          <ion-note slot="end">Very fluent
            <ion-progress-bar value="1"></ion-progress-bar>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>English</ion-label>
          <ion-icon src="/assets/icon/gb-eng.svg" slot="start"></ion-icon>
          <ion-note slot="end">Fluent
            <ion-progress-bar value="0.95"></ion-progress-bar>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Spanish</ion-label>
          <ion-icon src="/assets/icon/es.svg" slot="start"></ion-icon>
          <ion-note slot="end">Intermediate
            <ion-progress-bar value="0.6"></ion-progress-bar>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Swedish</ion-label>
          <ion-icon src="/assets/icon/se.svg" slot="start"></ion-icon>
          <ion-note slot="end">Basics
            <ion-progress-bar value="0.2"></ion-progress-bar>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Soft Skills</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Teamwork</ion-label>
          <ion-icon name="people-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Flexibility</ion-label>
          <ion-icon name="shuffle-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Problem solving</ion-label>
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Motivation</ion-label>
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>