<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="/assets/prof.jpeg" />
    <ion-card-header>
      <ion-card-title>Personal information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Matias Kohanevic</ion-label>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Espoo, Finland</ion-label>
          <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>matiaskohanevic@gmail.com</ion-label>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>+358012345678</ion-label>
          <ion-icon name="call-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Find me online</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><a href="https://github.com/BuluMatziel">Github</a></ion-label>
          <ion-icon name="logo-github" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label><a href="https://www.linkedin.com/in/matias-kohanevic-818763184/">LinkedIn</a></ion-label>
          <ion-icon name="logo-linkedin" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label><a href="https://www.instagram.com/matiaskvc/">Instagram</a></ion-label>
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label><a href="https://www.facebook.com/matias.kohanevic">Facebook</a></ion-label>
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>