<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2007-2010</ion-card-subtitle>
      <ion-card-title>Viherlaakso highschool</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      One of the largest Upper Secondary School in Espoo, Finland. Secondary school graduate.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2018-current</ion-card-subtitle>
      <ion-card-title>Laurea University of Applied Sciences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Degree Programme in Business Information Technology. Third year student.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>