<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hobbies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="/assets/golf.PNG" />
    <ion-card-header>
      <ion-card-title>Disc golf</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      There is something beautiful about watching a frisbee launch out of your hand and glide down the fairway.
      Simply a very relaxing and fun activity. I play casually several times a week, but I also compete at a
      semi-advanced level.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/gtr.png" />
    <ion-card-header>
      <ion-card-title>Music</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I have always been a musical person. I enjoy playing the guitar and singing nearly every day. At the moment I have
      one acoustic guitar, two electric guitars and an ukulele.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/hcr.jpg" />
    <ion-card-header>
      <ion-card-title>Running</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      From time to time I like to challenge myself and sign up for running events. I ran my latest half marathon in 1h
      58min. Full marathon next time?
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Other stuff</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Some other things I like to do occasionally: badminton, squash, swimming and all kinds of outdoor activities. I
      also try to do some yoga to help my mind and body recover from everyday activities. Despite my active lifestyle,
      every day I take the time to just chill at home and watch some tv.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>