<!-- Matias Kohanevic 1800715 -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="education">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Education</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="it-skills">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>IT skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="other">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Other</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>