<!-- Matias Kohanevic 1800715 -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="introduction">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Introduction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobbies">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Hobbies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>