<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Work experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mail production worker 13/11/2012 - current</ion-card-subtitle>
      <ion-card-title>Postnord Strålfors Oy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Operator of different mass mail production machines, such as printers and enveloping machines. A versatile and
      long-term worker who can handle different tasks when needed. Currently on study leave.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Temporary worker 10/10/2010 - 24/06/2011</ion-card-subtitle>
      <ion-card-title>TP Avuksenne Oy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Different job responsibilities in different companies. This gave me valuable work experience and I saw how
      companies operate in different ways. I quit right before going to the military service.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Telemarketer 9/2012 - 11/2012</ion-card-subtitle>
      <ion-card-title>Mediapex Oy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sold magazines to random people over the phone. I was good at it, but it wasn't an enjoyable job and the pay was
      bad. However, I learned a lot about making customers want your product.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Construction worker 6/2009 - 7/2009</ion-card-subtitle>
      <ion-card-title>E.M. Pekkinen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Summer job. Several different tasks in a construction site located in Suurpelto, Espoo, where I helped the
      experienced workers wherever they needed me.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Grocery store helper 9/2006</ion-card-subtitle>
      <ion-card-title>K-Market Karakallio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Work practice program from school. I was mostly organizing products for two weeks and gained valuable
      experience from work life.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>