<!-- Matias Kohanevic 1800715 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="/assets/jeps_cropped.jpg" />
    <ion-card-header>
      <ion-card-subtitle>About me</ion-card-subtitle>
      <ion-card-title>Matias Kohanevic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello! My name is Matias and I am a 29 years old half brazilian/half finnish man. I am currently studying business
      information technology and I am always looking for new challenges. Feel free to browse through my CV app!
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>© 2020 myCV App</ion-title>
  </ion-toolbar>
</ion-footer>